<div class="column sidenav is-one-quarter">
	<nav class="panel">
		<%= render 'profile'%>
		<div class ="panel">
			<div class ="panel-block">
				<%=link_to 'HOME', root_path %>
			</div>
			<div class ="panel-block">
				<%=link_to 'PROFILE' %>
			</div>
		</div>
	</nav>
</div>
