<footer class="footer align-items-center justify-content-center">
  <nav class='align-items-center justify-content-center'>
    <ul class='align-items-center justify-content-center'>
      <li><%= link_to "About",   '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><%= link_to "Terms of Service", '#' %></li>
			<li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>